# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
testReportGenerator.sh
btrace/samples
btrace/bin
btrace/config/results
btrace/config/app-all.jar
app/src/main/java/com/github/mvmcgrath/generator/source/*
app/src/main/java/com/github/mvmcgrath/generator/tests/*
app/src/test/java/com/github/mvmcgrath/generator/source/*
